.section {
  background-color: #2d2f39;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.productsSection{
  max-width: 100%;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  text-align: left;
  align-content: flex-start;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.linkproduct {
  background-color: #484a55;
  border-radius: 10px;
  height: 300px;
  box-sizing: border-box;
  width: 100%;
}

.divimage {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 55%;
}
.image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.titlefirst {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: larger;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 45%;
  padding: 0px 10px 10px 10px;
}

.title {
  width: 100%;
  max-width: 100%;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

.price {
  width: 10px;
  margin-top: auto;
  color: #babdc8;
  font-weight: 800;
}

.formsearch {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input {
  border: none;
  width: 30%;

  height: 100%;
  background-color: #484a55;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  box-sizing: border-box;
}

.input::placeholder {
  color: white;
}

.buttonsubmit {
  width: 30%;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: medium;
  background-color: #e43582;
  padding: 5px;
}

.buttonsubmit:active {
  background-color: #484a55;
}

.buttons button {
  width: 20px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  color: white;
  text-align: center;
}

.buttonPage {
  background-color: #484a55;
}

.selectedPage {
  background-color: #e43582;
}

.nofound {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1vw;
  }
  .linkproduct {
    height: 25vw;
  }

  .input,
  .buttonsubmit {
    font-size: 1.4vw;
  }
  .list {
    column-gap: 2px;
  }
  .title,
  .price {
    font-size: 1.5vw;
  }
  .title {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .wrapper {
    padding: 0 1vw 1vw 1vw;
  }
  .nofound {
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 900px) {
  .formsearch {
    height: 10%;
  }
  /* .input,
  .buttonsubmit {
    height: 20px;
    font-size: small;
  } */

  /* .wrapper {
    padding: 0px 5px 5px 5px;
  }
  .title {
    font-size: x-small;
  }
  .price {
    font-size: x-small;
  }
  .titlefirst {
    font-size: smaller;
  }
  .buttons button {
    width: 15px;
    height: 25px;
    padding: 2px;
    box-sizing: border-box;
  } */
}

@media screen and (max-width: 600px) {
  .section {
    padding: 5px;
  }
  .titlefirst,
  .buttons button {
    font-size: 2.5vw;
  }
  .input,
  .buttonsubmit {
    font-size: 1.8vw;
    padding: 2px;
    border-radius: 3px;
  }

  .image {
    border-radius: 1vw 1vw 0 0;
  }
  .linkproduct,
  .section {
    border-radius: 1vw;
  }

  .buttons button {
    width: 3vw;
    height: 4vw;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 2px;
  }
}
