.header {
  display: flex;
  padding: 10px;
  flex-direction: row;
  height: 60px;
  align-items: center;
  width: 80%;
  margin: 20px 10% 0px;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo_button {
  width: 100px;
  height: 40px;
  align-items: center;
  justify-items: center;
  border: none;
  outline: none;
}
.logo {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.user {
  display: flex;
  align-items: center;
  width: 20%;
  height: 40px;
  color: #a6a9b4;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: none;
}

.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.avatar img {
  border-radius: 50%;
}

.form {
  width: 60%;
  height: 36px;
  background: #2d2f39;
  border-radius: 10px;
  z-index: 2;
  justify-content: center;
}

.formforsearch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 5px;
  border: none;
}
.searchicon {
  width: 5%;
  margin: 0px 10px;
  align-self: center;
}

.input {
  width: 90%;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
}

.input:focus {
  outline: none;
}
.input::placeholder {
  color: #9497a3;
}

.box {
  width: 100%;
  height: 300px;
  padding: 5px;
  background-color: #838591;
  margin-top: 10px;
  border-radius: 10px;
  color: black;
  overflow-y: auto;
}

.boxelem {
  background-color: #5d5f6c;
  color: rgb(227, 226, 232);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.boxelem img {
  margin-right: 5px;
  border-radius: 5px;
}

.cartfav {
  width: 10%;
  display: flex;
  gap: 0px 0.5vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fav,
.cartimg {
  height: 26px;
  width: 26px;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: #e43582;
  font-size: 11px;
  border-radius: 50%;
  position: relative;
  bottom: -10px;
  right: 12px;
  color: #fff;
}

.text {
  width: 100%;
  height: 30px;
  padding: 5px 10px 5px;
  background-color: #838591;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  overflow-y: auto;
}
@media screen and (max-width: 1200px) {
  .header {
    height: 40px;
    padding: 4px;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }

  .form {
    height: 32px;
  }
}

@media screen and (max-width: 1100px) {
  .username {
    font-size: 18px;
  }

  .count {
    width: 14px;
    height: 14px;
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .avatar,
  .form,
  .info,
  .user {
    height: 26px;
  }

  .avatar {
    width: 26px;
  }

  .username {
    font-size: 14px;
  }

  .input::placeholder,
  .input {
    font-size: 12px;
  }

  .form {
    border-radius: 8px;
  }

  .cartimg,
  .fav {
    width: 22px;
    height: 22px;
  }

  .logo_button {
    width: 76px;
  }

  .avatar {
    margin-right: 4px;
  }

  .count {
    width: 12px;
    height: 12px;
    font-size: 8px;
    bottom: -6px;
    right: 10px;
  }
  .text {
    font-size: 12px;
    height: 24px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 600px) {
  .avatar,
  .form,
  .user,
  .info {
    height: 20px;
  }

  .cartfav {
    width: 30px;
  }

  .avatar {
    width: 20px;
  }

  .input::placeholder {
    font-size: 10px;
  }

  .form {
    border-radius: 6px;
  }

  .formforsearch {
    padding: 2px;
  }

  .input {
    height: 14px;
  }

  .cartimg,
  .fav {
    width: 18px;
    height: 18px;
  }

  .cartfav {
    box-sizing: border-box;
  }

  .logo_button {
    width: 58px;
  }

  .count {
    width: 10px;
    height: 10px;
    font-size: 7px;
  }

  .searchicon {
    margin: 0 6px;
  }

  .boxelem img {
    width: 7vw;
    height: 7vw;
  }

  .boxelem {
    font-size: 2.5vw;
  }
  .text {
    font-size: 10px;
    height: 20px;
  }

  .username {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 400px) {
  .user {
    width: fit-content;
  }
  .logo_button {
    width: 48px;
  }
  .username {
    display: none;
  }

  .avatar {
    margin-right: 0;
  }

  .logo {
    margin-right: 6px;
  }

  .form {
    margin-right: 4px;
  }

  .input::placeholder,
  .input {
    font-size: 8px;
    margin: auto;
  }
}

/* @media screen and (max-width: 1100px) {
  .count {
    right: -10%;
  }
} */
/* 
@media screen and (max-width: 1000px) {
  .header {
    padding: 0.8vw;
    height: 5vw;
    margin-top: 10px;
  }
  .user,
  .form,
  .formforsearch,
  .input,
  .cart {
    height: 100%;
  }
  .cartfav {
    height: 80%;
  }
  .user {
    font-size: 1.7vw;
  }
  .avatar {
    width: 28%;
    height: 100%;
    margin-right: 5px;
  }
  .formforsearch {
    padding: 0;
  }
  .input {
    font-size: 1.5vw;
  }
  .count {
   
    text-align: center;
    right: -15%;
    bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  .avatar {
    width: 30%;
  }
  .searchicon {
    width: 5%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .count {
    width: 9px;
    height: 9px;
    font-size: 8px;
    right: -10%;
  }

  .box {
    width: 100%;
    height: 1200%;
    padding: 3px;

    margin-top: 5px;
    border-radius: 1vw;
  }

  .boxelem {
    padding: 2px;
    border-radius: 1vw;
    margin-bottom: 5px;
    font-size: 2.5vw;
  }

  .boxelem img {
    width: 6vw;
    height: 6vw;

    margin-right: 5px;
    border-radius: 0.8vw;
  }
  .text {
    height: 200%;
    font-size: 2.5vw;
  }
} */

/* @media screen and (max-width: 600px) {
  .count {
    width: 7px;
    height: 7px;
    font-size: 6px;
    right: 0;
  }
  .form,
  .box,
  .text {
    border-radius: 1vw;
  }
} */

/* @media screen and (max-width: 400px) {
  .boxelem {
    margin-bottom: 2px;
  }
  .count {
    width: 4.5px;
    height: 4.5px;
    font-size: 3.5px;
    right: 20%;
  }
} */
