.footer {
  display: flex;
  padding: 10px;
  flex-direction: row;
  height: 40px;
  align-items: center;
  width: 80%;
  margin: 20px 10% 0px;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
  background-color: #2d2f39;
  border-radius: 5px;
  color: #9497a3;
  margin-top: auto;
  margin-bottom: 10px;
}

.logo {
  width: 10%;
  height: 100%;
  cursor: pointer;
}
.smicons {
  width: fit-content;
  display: flex;
  gap: 0px 0.5vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.smicons a {
  justify-content: center;
  align-items: center;
}
.youtube,
.insta {
  height: 30px;
  width: 30px;
  margin: auto 0px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .footer {
    font-size: 1.5vw;
    padding: 0.8vw;
    height: 4.5vw;
  }
  .smicons {
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .youtube,
  .insta {
    height: 24px;
    width: 24px;
  }
}

@media screen and (max-width: 700px) {
  .youtube,
  .insta {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    border-radius: 1vw;
  }

  .smicons {
    height: 80%;
  }

  .youtube,
  .insta {
    height: 100%;
    width: 16px;
  }
}
